*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
// the code below defines what 1rem is - it is used not only for typography but also for layout
html{
    font-size: 62.5%;  //1rem = 10px, 16px is default, 62.5% is 10 px

    /*

    we don't need this one because the same font-size will apply for tablet portrait and smartphone

    @include respond(phone){
        font-size: 50%;
    }
    */
    @include respond(tab-land){ //width < 1200?
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }
    
    @include respond(tab-port){ //width < 900?
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop){ //width > 1800?
        font-size: 75%; //1rem = 12px, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){ //width < 900?
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}